<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- *** Post-Install Config -->
    <!-- This value must be altered after deployment by setting the 
               value for 'applicationInstance' to the correct key
                
                     For the application instance, supported keys are:
                     
                     LOCAL
                     DEV
                     QA
                     STG
                     PROD 
                     
                     Keys are CaSe SeNsItIvE!
                     Supported application instance values are CaSe SeNsItIvE! -->
    <!-- TMCP.XDB.Core.Config -->
    <add key="applicationInstance" value="LOCAL" />
    <!-- *** End Post-Install Config -->
    <!--*** LOCAL *** Never change the key; only the value if the resource changes *** 
    TMCP.XDB.Core.Config-->
    <add key="dbConnStringLOCAL" value="server=(local);Initial Catalog=XDB_new;uid=sa;password=sesame1?;" />
    <!--<add key="dbConnStringLOCAL" value="server=TMCPDBSVR02;Initial Catalog=XDB_new;uid=sa;password=sesame1?;" />-->
    <!--*** END LOCAL CONFIG ***-->
    <!-- *** DEV *** Never change the key; only the value if the resource changes *** -->
    <!-- TMCP.XDB.Core.Config -->
    <add key="dbConnStringDEV" value="" />
    <!-- *** END DEV CONFIG *** -->
    <!-- *** QA *** Never change the key; only the value if the resource changes *** -->
    <!-- TMCP.XDB.Core.Config -->
    <add key="dbConnStringQA" value="" />
    <!-- *** END QA CONFIG *** -->
    <!-- *** STG *** Never change the key; only the value if the resource changes *** -->
    <!-- TMCP.XDB.Core.Config -->
    <add key="dbConnStringSTG" value="" />
    <!-- *** END STG CONFIG *** -->
    <!-- *** PROD *** Never change the key; only the value if the resource changes *** -->
    <!-- TMCP.XDB.Core.Config -->
    <add key="dbConnStringPROD" value="" />
    <!-- *** END PROD CONFIG *** -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>